<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Lançamento</title>
</head>
<body>
<h1>Cadastro de Lançamento</h1>
<form th:action="@{/lancamentos}" th:object="${lancamento}" method="post">
    <label for="valor">Valor:</label>
    <input type="number" id="valor" th:field="*{valor}" />
    <label for="data">Data:</label>
    <input type="date" id="data" th:field="*{data}" />

    <!-- Adicionar campos para tipo e categoria -->
    <button type="submit">Salvar</button>
</form>
</body>
</html>
